#bg_section{
	background-color: #464f54;
}
.container{
	max-width: 1060px;
	margin: 0 auto;
	box-sizing: content-box;
}
body{
	margin: 0;
	padding: 0;
}
.clearfix:after{
	width: 100%;
	content: '';
	display: table;
	clear: both;
}
@font-face{
	font-family: 'Proxima Nova';
	src: url("../fonts/Proxima Nova Regular.otf");
}
@font-face{
	font-family: 'Futura PT';
	src: url("../fonts/Futura PT.ttf");
}
@font-face{
	font-family: 'georgiai';
	src: url("../fonts/georgiai.ttf");
	font-style: italic;
}
.square_white{
	width: 1060px;
	background-color: #fff;
	margin-top: 148px;
	position: absolute;
}
.document_line{
	float: left;
	margin-left: 67px;
}
.roy_batty p{
	font-family: 'Proxima Nova', sans-serif;
	font-size: 20px;
	color: #b4b4b4;
	margin: 0;
	text-transform: uppercase;
	padding-top: 200px;
	padding-left: 122px;
}
.title h1{
	font-family: 'Futura PT';
	font-size: 78px;
	text-transform: uppercase;
	margin: 0;
	padding-left: 122px;
}
.text p{
	font-family: 'Georgia', sans-serif;
	font-size: 30px;
	font-style: italic;
	color: #8f8f8f;
	margin: 0;
	padding-left: 122px;
}
.paragraph{
	width: 750px;
	margin-left: 122px;
}
.paragraph p{
	font-family:'Georgia', sans-serif;
	font-size: 27px;
	margin: 0; 
}
.paragraph p:first-child{
	margin-top: 60px;
}
.paragraph p:last-child{
	margin-top: 40px;
}

.square_black{
	width: 877px;
	height: 186px;
	background-color: #181818;
	margin-top: 47px;
	margin-left: 253px;
	position: absolute;
}
.title_square_black p{
	font-family: 'Proxima Nova';
	font-size: 15px;
	color: #767676;
	margin: 0;
	text-transform: uppercase;
	padding: 50px 0 0 60px;
}
.text_square_black p{
	font-family: 'Playfair Display';
	font-size: 48px;
	color: #fff;
	margin: 0;
	padding-left: 60px;
}
img.cursor{
	margin-left: 410px;
	position: relative;
	top:-52px;
}

img.line{
	position: relative;
	top:-50px; 
	margin-left: 60px;
}

.square_orange{
	width: 813px;
	height: 76px;
	background-color: #f3ba2c;
	margin-top: 233px;
	margin-left: 317px;
	position: absolute;
}
.list{
	margin: 0;
	padding: 0;
	display: block;
	margin-top: 20px;
}
.list li{
	float: left;
	display: block;
	margin-left: 40px;
}
.list a{
	text-decoration: none;
}
a.number_1{
	background: url(../img/ic_format_color_text.png);
	display: block;
	width: 38px;
	height: 32px;
}
a.number_1:hover{
	background: url(../img/ic_format_color_text_white.png);
}
a.number_2{
	background: url(../img/ic_format_size.png);
	display: block;
	width: 30px;
	height: 23px;
}
a.number_2:hover{
	background: url(../img/ic_format_size_white.png);
}
a.number_3{
	background: url(../img/ic_insert_photo.png);
	display: block;
	width: 28px;
	height: 27px;
}
a.number_3:hover{
	background: url(../img/ic_insert_photo_white.png);
}
a.number_4{
	background: url(../img/ic_format_bold.png);
	display: block;
	width: 20px;
	height: 26px;
}
a.number_4:hover{
	background: url(../img/ic_format_bold_white.png);
}
a.number_5{
	background: url(../img/ic_format_italic.png);
	display: block;
	width: 19px;
	height: 22px;
}
a.number_5:hover{
	background: url(../img/ic_format_italic_white.png);
}
a.number_6{
	background: url(../img/ic_format_underline.png);
	display: block;
	width: 22px;
	height: 27px;
}
a.number_6:hover{
	background: url(../img/ic_format_underline_white.png);
}
a.number_7{
	background: url(../img/ic_format_align_justify.png);
	display: block;
	width: 28px;
	height: 27px;
}
a.number_7:hover{
	background: url(../img/ic_format_align_justify_white.png);
}
a.number_8{
	background: url(../img/ic_format_align_left.png);
	display: block;
	width: 28px;
	height: 27px;
}
a.number_8:hover{
	background: url(../img/ic_format_align_left_white.png);
}
a.number_9{
	background: url(../img/ic_format_align_center.png);
	display: block;
	width: 28px;
	height: 27px;
}
a.number_9:hover{
	background: url(../img/ic_format_align_center_white.png);
}
a.number_10{
	background: url(../img/ic_format_align_right.png);
	display: block;
	width: 28px;
	height: 27px;
}
a.number_10:hover{
	background: url(../img/ic_format_align_right_white.png);
}